.git
.svn
.DS_Store
*~
.*.swp
*.log
.idea/
node_modules/
generated/
dist*/
# old android location
android/ant-build/
android/CordovaLib/ant-build/
android/ant-gen/
android/CordovaLib/ant-gen/
android/assets/www/css/
android/assets/www/
android/assets/www/augmented-reality/
android/assets/www/fonts/
android/assets/www/flippIFrame/
android/assets/www/js/
android/assets/www/img/
android/assets/www/*.html
**/*/assets.json
android/AndroidManifest.xml
# new android location
android/platforms/android/build/
android/platforms/android/CordovaLib/build/
android/platforms/android/assets/www/css/
android/platforms/android/assets/www/augmented-reality/
android/platforms/android/assets/www/flippIFrame/
android/platforms/android/assets/www/fonts/
android/platforms/android/assets/www/js/
android/platforms/android/assets/www/img/
android/platforms/android/assets/www/*.html
android/platforms/android/gradle/
android/platforms/android/.gradle
android/platforms/android/settings.gradle
android/platforms/android/AndroidManifest.xml
android/platforms/android/release-signing.properties

/.settings
/.classpath
/.project
/.floo
/.flooignore
*.keystore

bb10/local.properties
bb10/www/config.xml
bb10/www/js
bb10/www/index.html
bb10/www/wrapped-index.html
bb10/www/css
bb10/www/img
bb10/build
bb10/www/fonts
bb10/www/augmented-reality
bb10/www/flippIFrame
bb10/www/recaptcha.html
bb10/www/json/dc-category-mapping.json

spec-e2e/spec-ui/output/

#builds stuff
builds/*/platforms
builds/*/plugins
builds/*/www
builds/*/gems
builds/*/_outputs
builds/_outputs
builds/local-plugins/newrelic-cordova-plugin

*.sh

